.activity {
    width: 80px;
    height: 80px;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    margin: 20px;
    text-transform: capitalize;
}

.completed {
    background-color: #42bd41;
}

.in-progress {
    background-color: #aaa;
}

.todo {
    background-color: red;
}