<md-card>

  <md-card-title class="less-blue">
    <div layout="column" layout-align="center">
      <h3>Process Viewer - Sablono Mockup</h3>
    </div>
  </md-card-title>

  <md-card-content>

    <div ng-repeat="deliverable in $ctrl.sbModel" class="deliverable" layout="row" layout-align="space-between">
      <div class="name">
        {{deliverable.name}}
      </div>

      <div ng-repeat="activity in deliverable.activities | orderBy:'-step'">
        <sb-activity data="activity" on-progress-change="$ctrl.progressChange"></sb-activity>
      </div>
    </div>

  </md-card-content>

</md-card>

